body {
    font: roboto;
    margin: 0;
}

.hero, .random {
    background-color: #1F2937;
}

.hero, .random, .boxes, .footer {
    display: flex;
}

a {
    margin: 0px 5px;
    text-decoration: none;
}

.hero {
    flex: 1 1 auto;
    justify-content: space-around;
    align-content: center;
    padding: 10px 0px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    text-align: left;
}

.header-link {
    text-align: right;
}

.header-link a, .hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.random {
    flex: 1 1 auto;
    justify-content: center;
    padding: 100px 0px;
}

.awesome, .image {
    width: 500px;
    height: 250px;
    padding: 10px 50px 10px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    width: 80%;
    margin: 0;
}

.hero-secondary {
    width: 80%;
    margin: 0px 0px 10px;
}

.image {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-text {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    padding: 5px 30px;
    border-radius: 10px;
    border-color: #3882F6;
    color: #F9FAF8;

}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.box-section {
    margin: 20px auto 80px;
}

.boxes {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.box {
    text-align: center;
    height: 250px;
    width: 170px;
}

.info-box {
    display: inline-block;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 25px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    text-align: left;
}

.large-quote {
    display: inline-block;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    width: 40%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.quote-author {
    font-size: 24px;
    color: #1F2937;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 50px;
    width: 45%;
}

.quote-author p {
    text-align: right;
    justify-content: flex-end;
    margin-right: 50px;
}

.button {
    display: flex;
    margin: 100px auto;
    border-radius: 10px;
    background-color: #3882F6;
    width: 65%;
}

.call-action {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    width: 70%;
    padding-left: 20%;
    justify-content: left;
    text-align: left;
    align-items: flex-start;
}

.call-title {
    padding: 50px 0px 0px;
    margin: 0;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.call-info {
    color: #F9FAF8;
    font-size: 18px;
    margin: 0;
    padding: 0px 0px 50px;
}


.call-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.action-button {
    display: inline-block;
    padding: 10px 40px 10px;
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 10px;
    font-weight: bold;
    color: #F9FAF8;
}

.footer {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.copyright {
    color: #F9FAF8;
}
